/*  your css code here. If applicable */
.master{
	background-color: rgb(204, 204, 204);
	text-align: center;
	margin-bottom: 10px;
}
.box-1{
	font-weight: 600;
	border: 2px solid black;
	border-radius:5px;
	background-color: rgb(255, 255, 255);
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:-20px;
}
.box-2{
	border: 2px solid black;
	border-radius:5px;
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
	margin-left:70px;
	margin-right:70px;
	
}
li{
	list-style-type: none;
}
.h{
	padding-top:10px;
}
p{
	text-align: left;
	padding-left: 10px;
}
.player_two{
	width:100%;
}
.player_one{
	width:95%
}
.songs{
	margin-top:-20px;
}